.Header__Wrapper {
  text-align: center;
  background-color: #f2fcf4;
  box-shadow: rgba(27, 4, 4, 0.1) 0px 3px 5px;
}

.Header__primaryHeading {
  font-size: 48px;
  padding: 12px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.3rem;
  font-weight: 400;
}

@media screen and (max-width: 550px) {
  .Header__primaryHeading {
    font-size: 30px;
    letter-spacing: 0.01rem;
  }
}
